<div class="ui grid">
    <!--top of the page headers-->
    <div class="two wide column">
        <h2 class="ui block header" id="employeename">
            Jane Employee
        </h2>
    </div>
    <div class="eight wide column">
        <h1 id="maindashboardtitle">Dashboard</h1>

        <!--deadlines dashboard view-->
        <div id="deadlines">
            <h3 class="ui top attached header" id="deadlineheader">
                Today's Deadlines
            </h3>
            <div class="ui attached segment" id="deadlinebody">
                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Deposit Due</th>
                        <th>Cancellation Deadline</th>
                        <th>Final Payment</th>
                    </tr>
                    {{#each due_today}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{deposit_due}}</td>
                        <td>{{preferred_dep_airport}}</td>
                        <td>{{payment_type}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <!--flights dashboard view-->
        <div id="flights">
            <h3 class="ui top attached header" id="todaysflightheader">
                Today's Flights
            </h3>
            <div class="ui attached segment" id="todaysflightbody">
                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Departure Date</th>
                        <th>Flight No.</th>
                        <th>Departing Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Date</th>
                        <th>Flight No.</th>
                        <th>Arriving Airport</th>
                        <th>Arrival Time</th>
                    </tr>
                    {{#each fly_today}}
                    <tr>
                        <td>{{client_id}}</td>
                        <td>{{dep_date}}</td>
                        <td>{{dep_flight}}</td>
                        <td>{{dep_airport}}</td>
                        <td>{{dep_time}}</td>
                        <td>{{arr_date}}</td>
                        <td>{{arr_flight}}</td>
                        <td>{{arr_airport}}</td>
                        <td>{{arr_time}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <!--VIP clients dashboard view-->
        <div id="vip">
            <h3 class="ui top attached header" id="vipclientheader">
                VIP Clients
            </h3>
            <div class="ui attached segment" id="vipclientbody">
                <p></p>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <!--navigation side bar-->
        <div class="ui vertical menu navigation" id="fullnavbar">
            <h3 id="navtitle">Navigation Menu</h3>
            <div class="item">
                <div class="header" id="dashboard_nav">Dashboard</div>
                <div class="menu clientscat">
                    <a class="item" id="allclients_nav">Home</a>
                </div>
            </div>
            <div class="item">
                <div class="header" id="mainclients_nav">Clients</div>
                <div class="menu clientscat">
                    <a class="item" id="allclients_nav">All Clients</a>
                    <a class="item" id="activeclients_nav">Active Clients</a>
                    <a class="item" id="nonactiveclients_nav">Non-Active Clients</a>
                    <a class="item" id="vipclients_nav">VIP Clients</a>
                </div>
            </div>
            <div class="item">
                <div class="header" id="deadlines_nav">Deadlines and Flights</div>
                <div class="menu clientscat">
                    <a class="item" id="alldandf_nav">All Deadlines and Flights</a>
                    <a class="item" id="flights_nav">Flights</a>
                    <a class="item" id="deadlines_nav">Deadlines</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ui button" id="addnewclient">+ New Client</div>
        </div>
    </div>
</div>